/* Footer.css */
.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
  }
  
  .footer_column {
    flex: 1;
    margin: 0 20px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
    }
  }