/* StickyBar.css */
.sticky-bar {
  background-color: #f2f2f2;
  padding: 10px;
  transition: 0.3s;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

li {
  padding: 10px;
  cursor: pointer;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
}

.layout-content {
  padding: 2rem
}

@media screen and (min-width: 1921px) {
  .layout-content .block-category,.layout-content .block-category-title,.layout-content .block-section,.layout-content .documentation,.layout-content .pricing-inner {
      display:block;
      width: 1478px;
      margin-left: auto;
      margin-right: auto
  }
}

@media screen and (max-width: 992px) {
  .layout-content {
      padding:2rem 1rem
  }
}
